.header {
	width:100%;
	background-color:#F3F3F3;
	height:60px;
	margin-top:-7px;
	margin-left:0px;
}

.googleimage {
	padding-left:20px;
	padding-top:10px;
	height:60%;
}
.header-search{
	position:relative;
	width:51%;
	margin-top:-40px;
	margin-left:200px;
	height:60%;
}

#btnsearchmail{
position:relative;
padding:0px;
width:10%;
height:90%;
float:right;
margin-left:-10px;
background-color:#65B0FC;
border-width:0px;

}

.submenu{
	position:relative
	width:100%;
	height:40px;
	margin-left:0px;
	padding-top:5px;
	padding-bottom:5px;
}

.sidemenu
{
	position:relative
	width:20%;
	height:80%;
	margin-left:0px;
	padding-top:5px;
	padding-left:20px
}


.dropdown-content {
    position: absolute;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 2px 1px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

#btnExpandCircle botton:hover {
background-color: #f1f1f1;

}
tr td {
  border-bottom:1pt solid black;
}

 

.content{
	position:relative;
	width:85%;
	height:80%;
	margin-left:0px;
	padding-top:5px;
	padding-left:20px;
	float:right;
	margin-top:-40px
}