.nav {
    background: #232323;
    height: 70px;
    display: inline-block;
    width: 100%;
    text-align: right;
}
 
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

/*links*/

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #2e2e2e;
}
 
#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}

/*search box*/
#search {
    width: 357px;
    margin: 4px;
}
#search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1f7f5c;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.andela {

  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  text-transform: uppercase;
  width: 23%;
  padding: 10px;
  
}

.roomCheck {
  float: right;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  text-transform: uppercase;
  width: 75%;
  padding: 10px;
  margin-top: -100px;
  text-align: right;
}

.room-group{
text-align:center;



}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
  font-size: 2rem;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

html {
	font-family: 'Merriweather', serif;
	font-family: 'Rubik', sans-serif;
	font-family: Times, sans-serif;
}

body {
	background-color: white;
	
	width: 95%;
}

section {
	display: inline;
	margin: 0 auto;
}

.sleeping {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	width: 200px;
	margin-top:1px;
	text-align:center;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-left:100px
}

.working {
	float: left;
	margin-right: 20px;
	text-align: center;
	width: 200px;
	text-align:center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.meetings {
	float: left;
	margin-right: 20px;
	text-align: center;
	width: 200px;
	text-align:center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.games {
	float: left;
	margin-right: 20px;
	text-align: center;
	width: 200px;
	text-align:center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.quitetime {
	float: left;
	/* margin-right: 20px; */
	text-align: center;
	width: 230px;
	text-align:center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.clear-fix {
	clear: both;
}

footer {
	margin-top: 30px;
	color: white;
	bottom:0px;
	position:fixed;
	width:98%;
	border-radius : 15px;
}

footer p {
	font-size: 1.5rem;
	margin-right: 10px;
}

button {  
	
	background-color:#000066;
	border-width:0px;
	color:#FFFFFF; 
	font-size:20px; 
  margin-bottom: 5px;
  margin-top: 5px;


}

.result { 
  color: #000066; 
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 70px


}